.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.7rem;
}

.item {
  list-style: none;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 0.8rem;
}

.item:hover {
  box-shadow: 0 8px 16px rgba(56, 222, 219, 0.877);
  transform: translateY(-5px);
  transition: all 0.3s ease;
  cursor: pointer;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}